dspy_ai==2.4.9
wikipedia==1.4.0
sentence_transformers
toml
langchain-text-splitters
trafilatura
langchain-huggingface
qdrant-client
langchain-qdrant
duckduckgo_search==6.2.1
groq==0.9.0
langchain==0.1.16
newspaper4k==0.9.3.1
